flow-pogui.json
[{"id":"ab814894.85e578","type":"tab","label":"Flow 1"},{"id":"98f4f6e1.1000c8","type":"modbus-getter","z":"ab814894.85e578","name":"reg3","showStatusActivities":true,"showErrors":true,"unitid":"3","dataType":"HoldingRegister","adr":"40000","quantity":"2","server":"e127f9c8.2d9f28","x":330,"y":160,"wires":[["6daea132.a4072"],["2e34359.fbe6cca"]]},{"id":"5693dc3a.b79494","type":"inject","z":"ab814894.85e578","name":"pull","topic":"test1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":124.5,"y":224,"wires":[["98f4f6e1.1000c8"]]},{"id":"6daea132.a4072","type":"debug","z":"ab814894.85e578","name":"1111","active":true,"console":"false","complete":"payload","x":590,"y":80,"wires":[]},{"id":"2e34359.fbe6cca","type":"function","z":"ab814894.85e578","name":"","func":"msg.payload = msg.values[0] + msg.values[1]\nmsg.co2 = msg.values[0]*0.1\nmsg.money = Math.round(msg.values[0]*46.7)/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["c4fea709.401318","21b4d0fa.c6d64","8fdf47a7.9f4f18","595d9c1e.739c24"]]},{"id":"c4fea709.401318","type":"debug","z":"ab814894.85e578","name":"222","active":true,"console":"false","complete":"true","x":670,"y":200,"wires":[]},{"id":"21b4d0fa.c6d64","type":"ui_gauge","z":"ab814894.85e578","name":"potencia","group":"71fb4af1.7fef44","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Watts","format":"{{msg.payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":788.5,"y":344,"wires":[]},{"id":"8fdf47a7.9f4f18","type":"ui_template","z":"ab814894.85e578","group":"5de82ee0.88fa5","name":"co2","order":0,"width":0,"height":0,"format":"<style>\n #co2 {\n    background-image: url(\"http://localhost:8080/img/co2.png\");\n    background-size: 152px;\n    background-repeat: no-repeat;\n    background-position: right bottom;\n }\n .nr-dashboard-template{\n     padding: 8px 0px;\n }\n\n</style>\n<md-card id=\"co2\">\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\"><div ng-bind-html=\"msg.co2\"></div></span>\n            <span class=\"md-subhead\">Tons</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":240,"wires":[[]]},{"id":"2451168d.4efd9a","type":"ui_template","z":"ab814894.85e578","group":"1307da70.d4bb96","name":"info","order":0,"width":0,"height":0,"format":"<style>\n .card-info {\n    background-image: url(\"http://localhost:8080/img/state.png\");\n    background-size: cover; }\n</style>\n<md-card>\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\">20 kWp</span>\n            <span class=\"md-subhead\">Potencia de planta</span>\n           <span class=\"md-headline\">10/10/2017</span>\n            <span class=\"md-subhead\">Puesta en marcha</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media card-info\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850.5,"y":620,"wires":[[]]},{"id":"cc5761ad.79931","type":"ui_template","z":"ab814894.85e578","group":"2c618c0d.8fca14","name":"state","order":0,"width":0,"height":0,"format":"<style>\n #state {\n    background-image: url(\"http://www.montgomerycountymd.gov/DGS-OES/Resources/Images/Icons/GreenTowerIcon.png\");\n    background-size: 152px;\n    background-repeat: no-repeat;\n    background-position: right bottom;\n }\n .nr-dashboard-template{\n     padding: 8px 0px;\n }\n</style>\n<md-card id=\"state\">\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\">Utility grid</span>\n            <span class=\"md-subhead\"> connected</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":765.5,"y":498,"wires":[[]]},{"id":"a28a1235.14e06","type":"ui_template","z":"ab814894.85e578","group":"23d2851c.0d486a","name":"energy","order":0,"width":0,"height":0,"format":"<style>\n .card-energy {\n    background-image: url(\"http://localhost:8080/img/energy.png\");\n    background-size: cover; }\n</style>\n<md-card>\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\">6938 Wh</span>\n            <span class=\"md-subhead\">Hoy</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media card-energy\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":477.5,"y":664,"wires":[[]]},{"id":"595d9c1e.739c24","type":"ui_template","z":"ab814894.85e578","group":"683a7610.8e9d08","name":"piggy","order":0,"width":0,"height":0,"format":"<style>\n #piggy {\n    background-image: url(\"http://localhost:8080/img/piggy.png\");\n    background-size: 152px;\n    background-repeat: no-repeat;\n    background-position: right bottom;\n }\n .nr-dashboard-template{\n     padding: 8px 0px;\n }\n\n</style>\n<md-card id=\"piggy\">\n        <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-headline\"><div ng-bind-html=\"'$' + msg.money\"></div> </span>\n            <span class=\"md-subhead\">Hoy</span>\n          </md-card-title-text>\n          <md-card-title-media>\n            <div class=\"md-media-lg card-media\"></div>\n          </md-card-title-media>\n        </md-card-title>\n      </md-card>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":822.5,"y":410,"wires":[[]]},{"id":"e127f9c8.2d9f28","type":"modbus-client","z":"","name":"test1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.88.29","tcpPort":"1502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"3","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"71fb4af1.7fef44","type":"ui_group","z":"","name":"Potencia actual","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"5de82ee0.88fa5","type":"ui_group","z":"","name":"Prevención de CO2","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"1307da70.d4bb96","type":"ui_group","z":"","name":"Información sobre la planta","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"2c618c0d.8fca14","type":"ui_group","z":"","name":"Estado Actual","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"23d2851c.0d486a","type":"ui_group","z":"","name":"Energía","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"683a7610.8e9d08","type":"ui_group","z":"","name":"Remuneración","tab":"c1ef9bb5.46a578","disp":true,"width":"6"},{"id":"c1ef9bb5.46a578","type":"ui_tab","z":"","name":"Home","icon":""}]
